<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.mrbird.febs.hkgf.dao.DataCatalogMapper">
    <select id="queryAllCatalog" resultType="java.util.Map">
        SELECT
        id,
        (
        SELECT
        NAME
        FROM
        data_catalog AS d1
        WHERE
        d1.id = d.zy_no
        ) AS `name`
        FROM
        data_catalog AS d
    </select>
</mapper>